.comments {
  display: flex;

  flex-direction: column;
  padding: 20px 40px;
  &__comment {
    display: flex;
    margin-bottom: 20px;
  }
  &__input {
    border: 1px solid #c1c5cd;
    outline: none;
    padding: 5px;

  }

  &__submit {
    background: #99DEF8;
    border-radius: 0 4px 4px 0;
    border: none;
    outline: none;
    color: #fff;
    padding: 4px 10px;
    cursor: pointer;

  }

  &__main {
    display: flex;
    gap: 8px;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 10px;
  }

  &__profile {
    width: 30px;
    height: 30px;
    background: #99def8;
    border-radius: 50%;
  }

  &__name {
    font-size: 16px;
  }

  @media screen and (max-width: 640px) {
    padding: 10px 20px;
  }
}
