.menu {
  padding: 20px 40px;
  // width: 250px;

  // height: 100vh;

  &__data {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__icon {
    margin-bottom: 20px;
  }
  &__links {
    display: flex;
    // background: red;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    // width: 150px;
    // background: red;
    transition: all 0.2s;

    &:hover {
      background: #f3f4f6;
      border-radius: 20px;

      .menu__link {
        color: #58adee;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #000;
    font-size: 18px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
  }
  &__signout {
    border: none;
    outline: none;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 10px;
    height: 30px;
    transition: all 0.2s;
    &:hover {
      border-radius: 20px;
      background: #000;
      color: #fff;
    }
  }
}

@media screen and (max-width: 640px) {
  .menu {
    padding: 10px 0px;

    &__link {
      display: none;
    }

    &__head {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__signout {
      font-size: 12px;
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
